<h1 style="text-align: center;color:#FE0101">Categories</h1>

<table data-role="table" class="ui-responsive" >
  <thead>
    <tr>
      <th>Categoryname</th>
      <th>Description</th>

    </tr>
  </thead>

  <tbody>
    <% @tbl_categories.each do |tbl_category| %>
      <tr>
        <td><%= tbl_category.CategoryName %></td>
        <td><%= tbl_category.Description %></td>
        <td><%= link_to 'Show', tbl_category %></td>
        <td><%= link_to 'Edit', edit_tbl_category_path(tbl_category) %></td>
        <td><%= link_to 'Destroy', tbl_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Category', new_tbl_category_path, { :class=>("ui-btn") } %>
