<h1 style="text-align: center;color:#FE0101">
  <%= @CategoryName %>  Categories</h1>

<table data-role="table" class="ui-responsive" >
  <thead>
  <tr>
    <th>Productcode</th>
    <th>Productname</th>
    <th>Productbrand</th>
    <th>Productprice</th>
    <th>Productcategory</th>
    <th colspan="3"></th>

  </tr>
  </thead>

  <tbody>
  <% @info.each do |tbl_product| %>
      <tr>
        <td><%= tbl_product.ProductCode %></td>
        <td><%= tbl_product.ProductName %></td>
        <td><%= tbl_product.ProductBrand %></td>
        <td><%= tbl_product.ProductPrice %></td>
        <td><%= tbl_product.ProductCategory %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', view_products_index_path, { :class=>("ui-btn") } %>
